body{
background-color: #222222;
}

.body{
  background-image: url(/img/topbackground.png);
  display: block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
  height: 500px;
}

header{
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.logo{
  height: 180px;
  margin-left: 12%;
  transition: transform .17s; /* Animation */
}

.logo:hover{
    transform: scale(1.15);

}

.click{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;

  font-family: 'Merriweather', serif;
}

.click:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ff6500;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .click:hover:after { 
    width: 100%; 
    left: 0; 
  }

nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto;
    text-align: center;
    align-items: center;
    grid-gap: 50px;
    margin-right: 10px;
    width: 99vw;
    height: 10.5vw;
}

.nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto;
    text-align: center;
    align-items: center;
    grid-gap: 50px;
    margin-right: 10px;
    background-color: rgba(5, 5, 5, 0.26);
}

.selected{
  color: #ff6500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;

  font-family: 'Merriweather', serif;
}

.selected:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff6500;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.selected:hover:after { 
  width: 100%; 
  left: 0; 
}

main{
  margin: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  
  grid-gap: 100px;
  color: white;
  padding-top: 40px; 


  font-family: 'Merriweather', serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

h2{
  font-weight: normal;
  text-decoration: underline #ff6500;
  padding-bottom: 10px;
  padding-top: 30px;
}

.price{
  color: #ff6500;
}

.pricepiece{
  color: gray;
  text-transform: lowercase;
}